@import './base.css';
@import url('bulma/css/bulma.css');
@import url('@fortawesome/fontawesome-free/css/all.css');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.pink {
  text-decoration: none;
  color: rgb(236, 178, 236);
  transition: 0.4s;
  padding: 3px;
}
/* in case I want to change the color of the links 
a,
.blue {
    text-decoration: none;
      color: rgb(134, 193, 238);
      transition: 0.4s;
      padding: 3px;
} */ 

@media (hover: hover) {
  a:hover {
    background-color: hsla(311, 54%, 85%, 0.2);
  }
}

/*@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

   makes the screens not have the columns
  #app {
    display: flex;
    place-items: center;
  } 
} */